<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/css/main.css" />

</head>
<body>
    <div class="navbar bg-base-100 px-4 md:px-4 lg:px-8">
        <div class="flex-1"> 
          <a href="/" class="btn btn-ghost text-xl">Lego collection</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">

            <li><a  href="/about">About</a></li>
            <li>
              <details class="relative z-50">
                <summary>Theme</summary>
                <ul class="z-50 bg-base-100 rounded-t-none p-2">
                  <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                  <li><a href="/lego/sets?theme=Christmas">Christmas</a></li>
                  <li><a href="/lego/sets?theme=Clikits">Clikits</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>





    <div class="hero  ">
        <div class="hero-content flex-col lg:flex-row">
          <img
            src="https://media.giphy.com/media/14uQ3cOFteDaU/giphy.gif?cid=ecf05e47u9ldyo0tcj06fjzni28soal8rz8e43emxn8b0stt&ep=v1_gifs_search&rid=giphy.gif&ct=g"
            class="max-w-sm rounded-lg shadow-2xl" />
          <div>
            <h1 class="align-middle text-5xl font-bold">Error 404!</h1>
            <p class="py-6">
                The page you are looking for doesn't exist
            </p>
          </div>
        </div>
      </div>
</body>
</html>