<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="/css/main.css" />

</head>
<body>
    
    <div class="navbar bg-base-100 px-4 md:px-4 lg:px-8">
        <div class="flex-1"> 
          <a href="/" class="btn btn-ghost text-xl">Lego collection</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">

            <li><a class = "active" href="/about">About</a></li>
            <li>
              <details class="relative z-50">
                <summary >Theme</summary>
                <ul class="z-50 bg-base-100 rounded-t-none p-2">
                  <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                  <li><a href="/lego/sets?theme=Christmas">Christmas</a></li>
                  <li><a href="/lego/sets?theme=Clikits">Clikits</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>


      <div class="container mx-auto">
        <div class="hero bg-base-200 min-h-20">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold">About</h1>
                <p class="py-6">
                    All about me - the designer and developer
                </p>
              </div>
            </div>
          </div>
      </div>



      <div class="container mx-auto my-10">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
          <div class="flex justify-center">
            <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYnVkeXc4MDlhZjY5YWhjZTJkejg3bm9ucnZ3ZG45cWdjazRvanV3YSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/ES9cAJlcxblRESzOH1/giphy.gif" alt="developer">
          </div>
          <div class="p-[10vw] text-center">My name is Vanshaj Gugnani. My hoobies include playing table tennis and listening music and I am taking WEB, DBS, OOP, SYD and PSY for this semester
            
          </div>
        </div>
      </div>
</body>
</html>